@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --font-main:'Avenir',Helvetica,Arial,sans-serif;
  --primary-color:#00bc77;
  --secondary-color:#2c3e50;
  --dark-color:#12002b;
}

html{
  scroll-behavior:smooth;
  overflow-x:hidden;
}

body{
  margin:0;
  font-family:var(--font-main);
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  color:var(--secondary-color);
  overflow-x:hidden;
  width:100%;
}

#root{
  width:100%;
  overflow-x:hidden;
}

img{
  max-width:100%;
  height:auto;
}

.main{
  flex:1;
}

h1,h2,h3,h4,h5,h6{
  font-family:'Poppins',sans-serif;
}